<div class="column">
 	<nav class="panel">
 		<p class="panel-heading">Events In Your Area</p>

 	<div class="panel-block">
 		<article class="media">
 			<div class="media-left">
 				<figure class="image is-32x32">
 					<img src="https://bulma.io/images/placeholders/64x64.png">
 				</figure>
 			</div>
 			<div class="media-content">
 				<div class="content">
 					<p>
 						<strong>Beastwang</strong>
 						<small>@BeastwangUK</small>
            <p> Beastwang #115 D&B All Night SOLD OUT </p>
 					</p>
 				</div>
 			</div>
 		</article>
 	</div>
 		<div class="panel-block">
 		<article class="media">
 			<div class="media-left">
 				<figure class="image is-32x32">
 					<img src="https://bulma.io/images/placeholders/64x64.png">
 				</figure>
 			</div>
 			<div class="media-content">
 				<div class="content">
 					<p>
 					  <strong>AtOne</strong>
						<small>@AtOneLeicester</small>
            <p> At One *** Mella Dee </p>
 					</p>
 				</div>
 			</div>
 		</article>
 	</div>
 		<div class="panel-block">
 		<article class="media">
 			<div class="media-left">
 				<figure class="image is-32x32">
 					<img src="https://bulma.io/images/placeholders/64x64.png">
				</figure>
 			</div>
 			<div class="media-content">
 				<div class="content">
 					<p>
            <strong>Beastwang</strong>
 						<small>@BeastwangUK</small>
            <p> Beastwang // Warehouse Leicester </p>
 					</p>
 				</div>
 			</div>
		</article>
 	</div>
 	</nav>
</div>
