<body>
<div class="section">
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-half">
				<h1 class="title">Confirm?</h1>
        <p>
          <strong><%= @shout.shout %></strong>
        
        </p>
					<br>
					<p class="control">
						<%= link_to 'Cancel', edit_shout_path(@shout), class: "button is-dark is-rounded" %> |
            <%= link_to 'Confirm', shouts_path, class: "button is-dark is-rounded" %>
					</p>
					<br>
					<br>
					<br>
					<br>
			</div>
		</div>
	</div>
</div>
</body>
