<!DOCTYPE html>
<html>
<head>

</head>
  <body>
    <section class="section">
      <br>
      <br>
      <br>
      <div class="container">
        <div class="columns">
        <div class="column">
          <div class="container has-text-centered">
            <h1 class="title is-1">Vibes</h1>
          </div>
          <figure class="image container is-128x128">
            <%= image_tag "sound-wave.png" %>
          </figure>
          <br>
          <div class="columns">
            <div class="column has-text-centered">
              <article class="box has-text-centered has-background-warning">
                <p>
                Got an account?
                </p>
                <br>
                <p class="control has-text-centered"><%= link_to 'Sign In', new_user_session_path, class: "button is-rounded is-large" %></p>
                <br>
              </article>
            </div>
            <div class="column has-text-centered ">
              <article class="box has-text-centered has-background-warning">
                <p>
                First time on Vibes?
                </p>
                <br>
                <p class="control has-text-centered"><%= link_to 'Sign Up', new_user_registration_path, class: "button is-rounded is-large" %></p>
                <br>
              </article>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>
  </body>
</html>
