<!DOCTYPE html>
<html>
<head>

</head>


  <body>



    <section class="section">
      <br>
      <br>
      <br>
      <div class="container">
        <div class="columns">
        <div class="column">
          <div class="container has-text-centered">
            <h1 class="title is-1">Vibes</h1>
          </div>
          <figure class="image container is-128x128">
            <%= image_tag "sound-wave.png" %>
          </figure>
          <div class="columns is-mobile">
            <div class="column has-text-centered">
              <div class="tile">
                <!-- The magical tile element! -->
              </div>
            </div>
            <div class="column has-text-centered ">
              <div class="tile is-warning">
                <!-- The magical tile element! -->
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </section>


  </body>
</html>
