<section class="section">
  <div class="container">
    <div class="columns">
        <%= render 'feed' %>
      <div class="column">
        <%= render :partial => 'users/artists' %>
        <%= render :partial => 'users/events_near' %>
      </div>
    </div>

  </div>
</section>
