/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


$size-1: 7rem;
$size-2: 4rem;
$size-7: 0.8rem;

@import 'bulma';


.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

img {
  border-radius: 5px;
  }



.notification:not(:last-child) {
  margin-bottom: 0;
}



html {
background-color: rgba(241,213,28,0.1);
height: 100%;
}


.navbar {
  background-color: $warning ;
}




//LIGHT YELLOW rgba(241, 213, 28, 0.24)
//Lighter Yellow for contrast rgba(241,213,28,0.2)
